@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Montserrat:wght@300;500&family=Outfit:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;800;900&display=swap"); /*font-family: 'Raleway', sans-serif;*/
body {
  background-color: #0e0e0e !important;
  background-image: url(../assets/fondo.png);
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
/* body {
  width: 100%;
  height:100%;
} */

body,
.contacto {
  background: linear-gradient(-40deg, #584e94, #364a83, #000208);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-style: none;
  color: #ffffff !important;
  /* text-shadow: black 1px 1px 2px; */
  font-size: 1.3rem;
  margin: 1rem;
}
nav ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  color: #2955c4 !important;
}

.navbar {
  transition: background-color 0.5s;
}

.navbar::after {
  background-color: transparent;
}

nav button {
  background-color: transparent;
  color: #5675c6;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  border: none;
  border-radius: 16px;
}
nav button:hover {
  color: #2955c4 !important;
  background-color: #1e1e1f;
}
header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 94vh;
}

header h2 {
  font-family: "Raleway", sans-serif;
  font-size: 10vh;
  font-weight: 800;
  color: white;
}
header h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.segunda-seccion {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #16276c;
}
.personitas {
  background-image: url(../assets/g14.png);
  height: 10vh;
  min-height: 3rem;
  padding: 10rem;
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 20rem;
}
.aboutus-div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30vh;
}
.aboutus {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}
.aboutus-div h2 {
  letter-spacing: 0.5rem;
  font-weight: 800;
}
.tercera-seccion {
  background-color: #0e0e0e;
   align-items: center !important;
  text-align: center !important;
}
.trabajos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5675c6;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem !important;
  letter-spacing: 0.5rem;

  line-height: 20vh;
}
.divtrabajos {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.logoapex {
  width: 15rem;
  margin-right: 2rem;
  transition: transform 0.2s;
}
.logosanti {
  width: 5rem;
  margin-right: 1rem;
  transition: transform 0.2s;
}
.logoscale:hover {
  transform: scale(1.1);
}
.logonsa {
  width: 10rem;

  transition: transform 0.2s;
}

.logos {
  text-align: center;
}

.contacto {
  background-color: #5676c685;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}
.links:hover {
  color: #bbdaf3;
}
.logoscontacto {
  width: 3rem;
  /* align-content: left; */
}

.margen-lista {
  margin-left: 1rem;
}

/*CONTACTO*/
.contacto {
  padding: 1rem;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: rgba(255, 255, 255, 0.363);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.contact-form .input-text:focus {
  outline: none;
}

input::placeholder {
  line-height: 50px;
  font-weight: 400;
  color: #ffffffa9;
  cursor: text;
}

input:focus::placeholder {
  color: transparent;
  text-shadow: none;
}

/* AUTO COMPLETAR*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*FIN AUTO COMPLETAR*/
.contact-form .submit-btn {
  display: inline-block;
  background-color: transparent;
  color: rgb(255, 249, 249);
  letter-spacing: 2px;
  font-size: 16px;
  padding: 1rem;
  border: none;
  width: 200px;
  cursor: pointer;
}
.contact-form .submit-btn:hover {
  color: #bbdaf3;
}

.align-items-center {
  text-align: center;
}

/*FOOTER*/
footer {
  background-color: #0e0e0e;
}
.foot {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  text-align: center;
  background-color: #252525;
  color: #e8eefd;
  font-family: "Montserrat", sans-serif;
  height: 3rem;
}

.foot h5 {
  margin-bottom: 0%;
  font-size: 1rem !important;
  padding: 20px;
}
@media (min-width: 980px){
  .tercera-seccion{
    height: 70vh;
  }
}
@media (max-width: 992px) {
  .personitas {
    height: 1rem;
    min-height: 3rem;
    padding: 5rem;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 10rem;
  }


  .segunda-seccion {
    height: 75vh;
  }
  .aboutus-div h2 {
    margin-top: 5rem;
  }
}

@media (max-width: 600px) {
  body{
    width: 100%;
    
    margin: 0%;
    padding: 0%;
  }
  
  .zorro {
    width: 2rem;
  }
  .personitas {
    height: 1rem;
    min-height: 3rem;
    padding: 5rem;
    background-size: 10rem;
  }
  .segunda-seccion {
    height: 75vh;
  }
  .aboutus {
    margin-top: 3rem;
  }
  .logoapex {
    margin: 2rem;
  }
  .logonsa {
    margin: 2rem;
  }
  .logoscontacto {
    align-content: left;
  }
}

/*JAVASCRIPT*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion) {
  .js-scroll {
    opacity: 1;
  }
  .scrolled {
    animation: none !important;
  }
}
